<ul class="list-group shadow-lg">
    <li
            class="list-group-item note d-flex justify-content-between align-items-center">
        <div>
            <strong>test</strong>
            <small>12.01.2020</small>
        </div>
    </li>
</ul>